body {
    font-family: Courier New;
    font-size: 16px;
    color: #FFF;
	background-color: #000000;
	margin: 0;
	}

/* Prevents the margins on the headings from 
causing problems */
nav, main > section {
	overflow: auto;
	}

main > section {
/* Give each section a minimum height that is 
the height of the window */
	min-height: 100vh;
    }
            
/* Style the nav bar */
#nav {
	justify-content: space-between;
	align-items: baseline;
	padding: 1em;
	background-color: #000;
	color: #FFF;
	display: flex;
	}

nav h1, ul {
	margin: 0
	}

nav a {
	text-decoration: none;
	color: #FFF;
	}

nav ul {
	display: flex;
	list-style: none;
	}

nav ul a {
/* give the links a little space */
	padding: 1em;
	color: #FFF;
	}

nav ul a:hover {
	color: red;
	}

/* Give each section a different background color. 
The id names are unique so styles here apply just 
the section they name. */
#nav {
	background-color: #000;
	}

/* Style this section */
#junji-ito {
    background-color: #fff;
	background-image: url(images/junjiito.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
	color: #fff;
    }

#junji-ito > div {
/* Set position to relative so it can be moved */
	position: relative;
	top: 195px;
	width: 800px;
	}

#junji-ito h2 {
	margin: 0;
	padding: 5px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 70px;
	color: white;
	text-shadow: 0 0 20px #000;
	}

#junji-ito p {
	margin: 0;
	padding: 10px;
	font-size: 20px;
	background-color: rgba(7, 7, 7, 0.8);
	border-radius: 15px;
}

#manga {
	background-color: #000;
	}

#manga ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	}

#manga > h2 {
	margin: 1em;
	font-size: 3em;
	text-align: center;
	color: #fff;
	}

.card {
	width: 380px;
	margin: 1em;
	background-color: red;
	text-align: center;
	}

.card img {
	width: 380px;
	height: 500px;
	}

.card h3 {
	font-size: 2em;
	}

.card h3, .card p {
	margin: 1rem;
	}

#anime {
	background-color: #FFF;
	background-image: url(images/junjiitocollection.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	}

#anime > div {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 60px;
	padding-top: 10px;
	padding-bottom: 35px;
	width: 75%;
	max-width: 700px;
	border-radius: 20px;
}

#anime h2 {
	font-size: 50px;
	text-align: center;
}

#interview {
	background-color: #000;
	}

#contact {
	background-color: #FFF;
	}