body {
                font-family: Courier New;
                font-size: 16px;
                color: #FFF;
				background-color: #000000;
				margin: 0;
			}

			/* Prevents the margins on the headings from 
			causing problems */
			nav, main > section {
				overflow: auto;
			}

			main > section {
				/* Give each section a minimum height that is 
				the height of the window */
				min-height: 100vh;
            }
            
            			/* Style the nav bar */
			#nav {
				justify-content: space-between;
				align-items: baseline;
				padding: 1em;
				background-color: #000;
				color: #FFF;
				display: flex;
			}

			nav h1, ul {
				margin: 0
			}

			nav a {
				text-decoration: none;
				color: #FFF;
			}

			nav ul {
				display: flex;
				list-style: none;
			}

			nav ul a {
				/* give the links a little space */
				padding: 1em;
				color: #FFF;
			}

			nav ul a:hover {
				color: red;
			}

			/* Give each section a different background color. 
			The id names are unique so styles here apply just 
			the section they name. */
			#nav {
				background-color: #000;
			}
            
            /* Style this section */
			#junji-ito {
                background-color: #fff;
				background-image: url(images/Junji_Ito.png);
				background-size: cover;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-family: Arial Black;
                letter-spacing: 3px;
                font-size: 2em;
				color: #fff;
            }
            
            #junji-ito-bio > div {
                /* Set position to relative so it can be moved */
				position: relative;
				top: 240px;
			}

			#junji-ito-bio h1 {
                margin: 0;
				font-size: 50px;
				color: red;
				text-shadow: 0 0 5px #000;
			}

			#manga {
				background-color: #000;
			}

			#anime {
				background-color: #FFF;
			}

			#interview {
				background-color: #000;
			}

			#contact {
				background-color: #FFF;
			}