body {
    font-family: Futura;
    font-size: 16px;
    color: #FFF;
	background-color: #000000;
	margin: 0;
	}

a {
	color: #D11A1A;
	}

a:hover {
	color: #FFF;
	}

nav, main > section {
	overflow: auto;
	}

main > section {
	min-height: 100vh;
    }
            
/* Style the nav bar */
#nav {
	justify-content: space-between;
	align-items: baseline;
	padding: 1em;
	background-color: #000;
	color: #FFF;
	display: flex;
	}

nav h1, ul {
	margin: 0
	}

nav a {
	text-decoration: none;
	color: #FFF;
	}

nav ul {
	display: flex;
	list-style: none;
	}

nav ul a {
/* give the links a little space */
	padding: 1em;
	color: #D11A1A;
	font-weight: bold;
	}

nav ul a:hover {
	color: #FFF;
	}

#nav {
	background-color: #000;
	}

#junji-ito {
    background-color: #fff;
	background-image: url(images/junjiito.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
	color: #fff;
    }

#junji-ito > div {
	position: relative;
	top: 190px;
	width: 1200px;
	}

#junji-ito h2 {
	margin: 0;
	padding: 5px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 70px;
	color: white;
	text-shadow: 0 0 20px #000;
	}

#junji-ito p {
	margin: 0;
	padding: 10px;
	font-size: 20px;
	text-shadow: 0 0 20px #000;
	border-radius: 15px;
}

#manga {
	background-color: #000;
	font-size: 20px;
	}

#manga ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	}

#manga > h2 {
	margin: 1em;
	font-size: 40px;
	text-align: center;
	color: #fff;
	}

.card {
	width: 380px;
	margin: 1em;
	background-color: #D11A1A;
	text-align: center;
	border-radius: 20px;
	}

.card img {
	width: 380px;
	height: 500px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	}

.card h3 {
	font-size: 2em;
	}

.card h3, .card p {
	margin: 0.5rem;
	padding: 20px;
	}

#anime {
	background-color: #FFF;
	background-image: url(images/junjiitocollection.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	}

#anime > div {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 60px;
	padding-top: 10px;
	padding-bottom: 35px;
	width: 85%;
	max-width: 700px;
	border-radius: 20px;
}

#anime h2 {
	font-size: 40px;
	text-align: center;
}

#interview {
	background-color: #000;
	display: flex;
	color: #fff;
	background-image: url(images/junjibg.jpg);
	background-size: cover;
	}

#interview > div {
	display: flex;
	justify-content: center;
	width: 75%;
	margin: auto;
	font-size: 20px;
	background-color: rgba(209, 26, 26, 0.8);
	border-radius: 20px;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 30px;
	padding-bottom: 50px;
}

#interview h2 {
	font-size: 40px;
}

#interview > div > div:nth-child(1) {
	flex: 3;
	margin: 0 2em 0 0;
}

#interview > div > div:nth-child(2) {
	flex: 2;
}

#contact {
	background-color: #FFF;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}

#contact > form {
	display: flex;
	}

#contact > form > div {
	display: flex;
	flex-direction: column;
}

#contact label {
	display: flex;
	flex-direction: column;
}

label {
	margin: 1em 0;
}

label span {
	margin: 1em 0;
}

input, textarea {
	border: 1px solid #000;
	padding: 0.5em;
	margin: 0 2em 0 0;
	width: 20em;
	font-size: 1em;
}

textarea {
	height: 9em;
	margin: 0 0 0 0;
}

form button {
	width: auto;
	font-size: 1em;
	margin: 1em 0;
	align-self: flex-end;
	padding: 0.5em 1em;
	background-color:rgb(0, 0, 0);
	color: #fff;
	border-style: solid;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 15px;
	}